body {
    background-color: #fefefe;
}

.title {
    text-align: center;
    font-size: 20px;
    color: #505050;
}

.github-link {
    text-align: center;
    margin: 0 auto;
    margin-top: 10px;

    img {
        width: 32px;
        height: 32px;
    }
}

.snake-game {
    text-align: center;
    margin-top: 10px;
}
